table {
  width: 100%;
}


.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}


.row {
  cursor: pointer;
}

.user-name {
  display: flex;
  align-items: center;

  & mat-icon {
    color: yellow;
  }

  & span {
    margin-left: 10px;
  }
}
